*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
.vs/
*.VC.db
*.VC.VC.opendb
*.opendb
*.opensdf
*.sdf
ipch/
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.tmp
*.log
*.tlog
*.idb
*.psess
*.vsp
*.vspx
*.sap
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*_i.c
*_p.c
*_h.h
*.cachefile
*.sbr
~$*
*~
*.tmp_proj
*.bak
__pycache__/
*.pyc
*.log
log.txt
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
Makefile
!**/CMakeLists.txt
!CMakeLists.txt
build/
Build/
build-*/
External/glew-2.1.0/
*.lib
*.a
*.dll
*.so
*.dylib
*.out
*.o
*.ipdb
*.asm
*.swp
.cache
*.old
*.orig
*.swo
docs/
doc/
coverage/
tmp/
.idea/
.vscode/
*.code-workspace
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
