name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        build-type: [Debug, Release]

        include:
          - os: windows-latest
            generator: "Visual Studio 17 2022"
            arch: "-A x64"

          - os: ubuntu-latest
            generator: "Ninja"
            arch: ""

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          ninja-build \
          libx11-dev libxrandr-dev libxinerama-dev \
          libxcursor-dev libxi-dev \
          libvulkan-dev vulkan-validationlayers-dev

    - name: Configure
      run: |
        cmake -S . -B build \
              -G "${{ matrix.generator }}" \
              ${{ matrix.arch }} \
              ${{ runner.os == 'Linux' && format('-DCMAKE_BUILD_TYPE={0}', matrix.build-type) || '' }}

    - name: Build
      run: |
        cmake --build build \
              --config ${{ matrix.build-type }} \
              --parallel

    - name: Test
      working-directory: build
      run: |
        ctest --build-config ${{ matrix.build-type }} --output-on-failure
