name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        build-type: [Debug, Release]

        include:
          - os: windows-latest
            generator: "Visual Studio 17 2022"
            arch: "-A x64"

          - os: ubuntu-latest
            generator: "Ninja Multi-Config"
            arch: ""

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          ninja-build \
          build-essential \
          libx11-dev libxrandr-dev libxinerama-dev \
          libxcursor-dev libxi-dev \
          libvulkan-dev vulkan-utility-libraries-dev\
          libx11-dev libxrandr-dev libxinerama-dev \
          libxi-dev \
          libgl1-mesa-dev \
          libglu1-mesa-dev \


    - name: Setup vcpkg (Windows)
      if: runner.os == 'Windows'
      run: |
        git clone https://github.com/microsoft/vcpkg.git C:\vcpkg
        C:\vcpkg\bootstrap-vcpkg.bat
        vcpkg install vulkan

    - name: Configure (Linux)
      if: runner.os == 'Linux'
      run: |
        cmake -S . -B build \
          -G "${{ matrix.generator }}"

    - name: Configure (Windows)
      if: runner.os == 'Windows'
      run: |
        cmake -S . -B build `
          -G "${{ matrix.generator }}" ${{ matrix.arch }} `
          -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake

    - name: Build
      run: cmake --build build --config ${{ matrix.build-type }} --parallel

    - name: Test
      working-directory: build
      run: ctest --build-config ${{ matrix.build-type }} --output-on-failure